ion-content {
  --background: transparent !important;
}

#camera-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#ar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
  background: transparent;
}

canvas {
  width: 100%;
  height: 100%;
  background: transparent;
}