.container {
  max-width: 600px;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin: 2rem 0;
  }

  p {
    text-align: center;
    color: var(--ion-color-medium);
    margin-bottom: 2rem;
  }

  ion-button {
    margin: 2rem 0;
  }
}